<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.digitalhouse.abcpokemon">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_abcpokemon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_abcpokemon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".core.ProfileActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".core.GameActivity"
            android:parentActivityName=".login.OpcoesGameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.digitalhouse.abcpokemon.login.OpcoesGameActivity" />
        </activity>
        <activity
            android:name=".login.OpcoesGameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.OpcoesLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cadastro.CadastroActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>